<%= simple_form_for(@idea) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :idea_name %>
    <%= f.input :description %>
    <%= f.input :customer %>
    <%= f.input :problem %>
    <%= f.input :business_model %>
    <%= f.input :i_have_experience_in_this_field %>
    <%= f.input :i_am_passionate_in_this_field %>
    <%= f.input :i_have_hobbies_that_are_related_to_this_field %>
    <%= f.input :rank %>
    <%= f.input :enthusiasm %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
